---
// Al empezar con /src/, Astro busca siempre desde la raíz, ¡cero fallos!
import '/src/styles/basico.css';
import '/src/components/Home/styles/home.css';

// Las importaciones de componentes déjalas igual, esas están bien:
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import FeaturedCharacters from '../components/Home/FeaturedCharacters.astro';
import Codes from '../components/Home/Codes.astro';
import DailyReset from '../components/Home/DailyReset.jsx';
import EventsPanel from '../components/Home/EventsPanel.jsx';
import VersionCountdown from '../components/Home/VersionCountdown.jsx';
import EndgameTracker from '../components/Home/EndgameTracker.jsx';

import { getHomeData } from "../lib/home.js";

const { version, fin_version, eventos, codigos, personajes, endgame } = await getHomeData();
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - HSR Wiki</title>
</head>
<body>
    <Nav />
    <main id="main-scroll">
        <div class="top-banner-wrapper">
            <VersionCountdown version={version} endDate={fin_version} client:load />
        </div>
        <div id="content-layout">
            <div class="hero-grid">
                <EventsPanel initialEvents={eventos} client:load />

                <aside class="sidebar">
                    <section class="panel-codes glass-dark">
                        <h2 class="section-title">REDEEM CODES</h2>
                        <Codes codigos={codigos} />
                    </section>

                    <section class="panel-daily glass-dark">
                        <h2 class="section-title">DAILY RESET</h2>
                        <DailyReset client:load/>
                    </section>
                </aside>
            </div>
        </div>

        <FeaturedCharacters personajes={personajes} />

        <EndgameTracker data={endgame} client:load />

        <Footer />
    </main>
</body>
</html>